[submodule "agile-node-red-nodes"]
	path = agile-node-red-nodes
	url = https://github.com/Agile-IoT/agile-node-red-nodes.git
[submodule "secure-nodered"]
	path = secure-nodered
	url = https://github.com/Agile-IoT/secure-nodered
[submodule "node-red-contrib-agile-xively"]
	path = node-red-contrib-agile-xively
	url = https://github.com/Agile-IoT/node-red-contrib-agile-xively.git
[submodule "node-red-contrib-security-nodes"]
	path = node-red-contrib-security-nodes
	url = https://github.com/Agile-IoT/node-red-contrib-security-nodes
[submodule "agile-sdk"]
	path = agile-sdk
	url = https://github.com/agile-iot/agile-sdk
	branch = security
